<div>
    <h2>Category Details</h2>
  
    <!-- Input for category ID -->
    <label for="categoryId">Category ID:</label>
    <input type="number"  [(ngModel)]="categoryId" />
    <button (click)="categoryById()">Get Medicine Inventories</button>
  
    <!-- Display errors if any -->
    <div *ngIf="errors" class="error">
      {{ errors }}
    </div>
  
    <!-- Display Medicine Inventories -->
    <div *ngIf="button_clicked && MedicineInventories">
      <h3>Medicine Inventories</h3>
      <ul>
        <table>
            <tbody>
                <tr *ngFor="let m of MedicineInventories">
                    <td>{{m.medicineId}}</td>
                        <td>{{m.medicineName}}</td>
                        <td>{{m.categoryId}}</td>
                        <td>{{m.expirydate}}</td>
                        <td>{{m.stocklevel}}</td>
                        <td>{{m.price}}</td>
                </tr>

            </tbody>
        </table>
        
      </ul>
    </div>
  </div>
  