<!-- <p>add works!</p> -->
<!-- <p>operations works!</p> -->
<a routerLink="">Go to Medicine Page</a>
<br/>
<div>
            <label>Id</label>
            <br/>
            <input type="number" [(ngModel)]="MedicineInventory.medicineId"/>
            <br/>
            <label>Medicine Name</label>
            <br/>
            <input type="text" [(ngModel)]="MedicineInventory.medicineName"/>
            <br/>
            <label>Category ID</label>
            <br/>
            <input type="number" [(ngModel)] ="MedicineInventory.categoryId"/>
            <br/>
            <label>Expiry Date</label>
            <br/>
            <input type="date" [(ngModel)] ="MedicineInventory.expirydate"/>

            <br/>
            <label>Stock Level</label>
            <br/>
            <input type="number" [(ngModel)]="MedicineInventory.stocklevel"/>
            <br/>
            <label>Price</label>
            <br/>
            <input type="number" [(ngModel)]="MedicineInventory.price"/>
            <br/>
            
            <button (click)="add()">Add record</button>
            <!-- <button (click)="update()">Update record</button> -->


           
</div>
<h2>{{MedicineInventory | json}}</h2>

<span style="color:red">{{statusDetails}}</span>